<%- include('partials/head') %>

<body>
    <div class="my-container">
        <div class="nes-container with-title is-centered my-bg is-light">
            <p class="title">Oops 404</p>
            <i class="nes-kirby"></i>
            <p>Horee anda menemukan halaman 404 kami. Tenang dan jangan panik, anda tidak tersesat.. Ini hanyalah kecelakaan
                yang menyenangkan.
            </p>
            </label>
        </div>
    </div>
    <% include('partials/script') %>
</body>

</html>