<%- include('partials/head') %>

<body>
    <div class="my-container">
        <div class="nes-container with-title is-centered my-bg is-light">
            <p class="title">Welcome Message</p>
            <p>Selamat datang di Club Ubur-ubur, Tuan/Nyonya! Semoga anda datang dalam keadaan yang sehat untuk
                masuk. Namun sebelum itu, apakah anda memiliki akun?</p>
            <a class="nes-btn is-primary" href="/login">Ya</a>
            <a class="nes-btn is-primary" href="/register">Tidak</a>
        </div>
    </div>
    <% include('partials/script') %>
</body>

</html>