body {
    background-color: hsl(204, 86%, 53%);
}

.border {
    border: 1px solid black;
}

.my-container {
    width: 85%;
    margin: auto;
    padding: 2em;
}

.my-bg.is-light {
    background-color: hsl(240, 2%, 85%) !important;
}

.my-bg.is-blank {
    background-color: hsla(0, 0%, 100%, 0) !important;
}

.message {
    position: fixed;
    bottom: 10%;
    right: 5%;
    z-index: 99;
}

.my-octocat.is-right {
    float: right;
    position: relative;
    top: 4em;
    left: 0em;
    right: 0em;
    bottom: 0em;
    z-index: 1;
}

.my-balloon.is-right {
    float: right;
    position: relative;
    top: 0em;
    left: 0em;
    right: 0em;
    bottom: 0em;
    z-index: 2;
}